<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Signup'}) %>
    <link href="/styles/form.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('../../shared/includes/header.ejs') %>
    </header>
    <main>
        <h1>Create an Account</h1>

        <% if ( inputData.hasError ) { %>
            <p class="error-message"> <%= inputData.message %> </p>
        <% } %>
        <form action="/signup" method="POST">
            <input type="hidden" value="<%= locals.csrfToken %>" name="_csrf" >
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= inputData.enteredEmail %>" required>
            </p>
            <p>
                <label for="confirm-email">Confirm your email</label>
                <input type="email" id="confirm-email" name="confirm-email" value="<%= inputData.enteredConfirmEmail %>" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= inputData.enteredPassword %>" minlength="6" required>
            </p>

            <hr>
            
            <p>
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" name="full-name" value="<%= inputData.enteredFullName %>" required>
            </p>
            <p>
                <label for="street">Street</label>
                <input type="text" id="street" name="street" value="<%= inputData.enteredStreet %>" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" id="city" name="city" value="<%= inputData.enteredCity %>" required>
            </p>
            <p>
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" name="postal-code" value="<%= inputData.enteredPostalCode %>" minlength="5" maxlength="5" required>
            </p>
            <button class="btn">Confirm</button>    
            <a id="login-instead" href="/login">Login Instead</a>
        </form>
            

    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>