<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../shared/includes/head.ejs', {title: 'Product Details'}) %>
    <link href="/styles/products.css" rel="stylesheet">
    <script src="/scripts/add-to-cart.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main id="product-detail-main">
        <article id="product-detail-article">
            <header>
                    <img src="<%= product.url %>" alt="<%= product.title %>">
                    <div>
                        <h2><%= product.title %></h2>
                        <price><%= product.price %>€</price>
                        <button id="add-to-cart-btn" class="btn" data-id=" <%= product.id %> " data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
                    </div>
            </header>
            <hr/>
            <div id="product-detail-content">
                <p><%= product.summary %></p>
                <p id="product-description"><%= product.description %></p>
            </div>
        </article>
    </main>
    <footer>
        <%- include('../../shared/includes/footer.ejs') %>
    </footer>
</body>
</html>
