<%- include('../../shared/includes/head.ejs', { title: 'Cart' }) %>
<link href="/styles/cart.css" rel="stylesheet">
<script src="/scripts/update-cart.js" defer></script>
<script src="/scripts/place-order.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header.ejs') %>
  <main>
    <h1>Cart Items</h1>
    <ul>
        <% for ( const item of locals.cart.items) { %>
            <%- include('includes/cart-item.ejs', {item: item} ) %>
        <% } %>
    </ul>
    <div id="cart-total">
      <form action="/orders/" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <p>Total: <span><%= locals.cart.cartTotalPrice.toFixed(2) %></span>€</p>
        <p id="order-placed-message">Your order has been placed. Click <a href="/orders/">here</a> to visit your order's page</p>
        <%if (locals.isAuth && locals.cart.items.length > 0) { %>
          <button class="btn">Buy Products</button>
        <% } else { %>
          <p>Add some item to your cart to place an order, please.<br/>
             Remember to login if you're still not, thanks. </p>
        <% } %>
      </form>  
    </div>
  </main>
  <%- include('../../shared/includes/footer.ejs') %>
</body>
</html>