<li>
    <article id="cart-item">
        <div class="cart-item-info">
            <h2><%= item.product.title %></h2>
            <price>
                <%= item.itemTotalPrice.toFixed(2)%>€ (Pz. <%= item.product.price.toFixed(2) %>€)
            </price>
        </div>

        <div class="cart-item-management">
            <% if (inputData.hasError) { %>
                <p><%= inputData.message %></p>
            <% } %>
            <form data-productid="<%= item.product.id %>" data-csrf="<%= locals.csrfToken %>">
                <input type="number" value="<%= item.itemTotalQuantity %>" required>
                <button class="btn btn-reset">Update</button>
            </form>
        </div>
    </article>
</li>