<li>
    <article id="cart-item">
        <div class="cart-item-info">
            <h2><%= item.product.title %></h2>
            <price data-productId="<%= item.product.id %>"><%= item.itemTotalPrice.toFixed(2)%>€ (Pz. <%= item.product.price.toFixed(2) %>€)</price>
        </div>

        <div class="cart-item-management">
            <input type="number" value="<%= item.itemTotalQuantity %>" required>
            <button class="btn btn-reset">Update</button>
        </div>
    </article>
</li>